<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sybiload.elyst" >



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver android:name=".Widget.WidgetView">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.sybiload.elyst.action.IS_DONE" />
                <action android:name="com.sybiload.elyst.action.REFRESH" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_meta" />
        </receiver>

        <activity android:name=".Widget.WidgetConfigure" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sybiload.elyst.ActivityAdd"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityNewList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityShop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sybiload.elyst.Pref.ActivityAppPref"
            android:label="Settings"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sybiload.elyst.Pref.ActivityWidgetPref"
            android:label="Widget"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sybiload.elyst.Pref.ActivitySystemPref"
            android:label="Widget"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sybiload.elyst.Pref.ActivityUiPref"
            android:label="Widget"
            android:screenOrientation="portrait"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.vending.BILLING" />

</manifest>
